*{
    box-sizing:border-box;
    font-family:sans-serif;
}
 body{
     background-color: rgb(235,235,235);
 }
 .container{
    width:345px;
    border-radius:5px;
    box-shadow:2px 2px 2px 2px #888888;
    background-color: white;
    align-items:center;
    margin-top:10px;
    margin:auto;
    text-align: center;
 }
 #head{
     font-size: 19px;
     padding-top:15px;
     padding-bottom:15px;
     text-align:left;
     padding-left:15px;
 }
 #otp{
     background-color:dodgerblue;
     color:white;
     width:40%;
     cursor:pointer;
 }
 .link{
     text-decoration:none;
     display:block;
     padding-bottom:10px;
     padding-top: 10px;
     font-size: 19px;
 }
 .link:hover{
     text-decoration: underline;
 }
 #otp:hover{
    opacity: 0.7;
 }
 .head1{
    margin-top:8px;
    text-align: center;
    color:dodgerblue;
    font-size:50px ;
 }
 #form2{
     display:none;
     width:345px;
     border-radius:5px;
     box-shadow:2px 2px 2px 2px #888888;
     background-color: white;
     align-items:center;
     margin:auto;
     text-align: center;
 }

 #input2{
     margin-top:40px;
 }
 #submit2{
     color:white;
     background-color: dodgerblue;
     margin-bottom:40px;
 }